.slider {
	&__item {
		max-width: 100%;
		max-height: vw(500);
		border: none !important;
		outline: none !important;
		img {
			max-width: 100%;
		}
	}
	.slick-slide,
	.slick-slide.slick-active {
		border: none !important;
		outline: none !important;
	}
}
