@import './hero-slider';
.hero {
	position: relative;
	z-index: 1;
	padding: vw(250) vw(85) 0;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: vw(1140);
		height: vw(900);
		background-color: #fff;
		z-index: -1;
	}
	&__content {
		max-width: vw(660);
	}
	&__title {
		position: relative;
		color: $darkBlue;
		span {
			letter-spacing: vw(6);
			line-height: vw(60);
			font-family: $poppins;
			font-weight: 700;
			font-size: vw(48);
		}
		&::before {
			content: "";
			position: absolute;
			left: -15%;
			bottom: -20%;
			width: vw(200);
			height: vw(3);
			background-color: $lightBlue;
		}
	}
	&__description {
		margin: vw(60) 0 vw(35);
		font-family: $segoeUI;
		font-size: vw(20);
		font-weight: 400;
		color: $gray;
	}
	&__btn {
		margin-left: vw(35);
	}

	&__slider {
		margin-top: vw(-100);
		max-width: vw(700);
	}
	.slider__item {
		max-width: 100%;
		img {
			max-width: 100%;
		}
	}
}
