.slider__container {
	position: relative;
}
.slider {
	max-width: vw(740);
	&__item {
		max-width: vw(740);
		height: vw(640);
		border: none;
		outline: none;
		img {
			max-height: 100%;
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.slick-slide,
	.slick-slide.slick-active {
		border: none;
		outline: none;
	}
	.slick-next {
		position: absolute;
		left: 0;
	}
	.slick-next:before,
	.slick-prev:before {
		background: url("../../../assets/svg/arrow.svg") no-repeat center !important;
		width: vw(44);
		height: vw(44);
		color: transparent;
	}
	.slick-arrow.slick-prev {
		position: absolute;
		left: 106%;
		top: 0;
		height: vw(44);
		width: vw(44);
		border-radius: 50%;
		background-color: $lightBlue;
		transform: rotate(-90deg);
	}
	.slick-arrow.slick-next {
		position: absolute;
		left: 106%;
		top: 90%;
		height: vw(44);
		width: vw(44);
		border-radius: 50%;
		background-color: $lightBlue;
		transform: rotate(90deg);
	}
	&__timeline {
		position: absolute;
		right: vw(-86);
		top: vw(-30);
	}
	&__timeline-item {
		position: relative;
		width: vw(44);
		border-radius: vw(30);
		height: vw(500);
		z-index: 1;
		overflow: hidden;
		&::before {
			position: absolute;
			top: 0;
			width: 100%;
			height: vw(500);
			background-color: $white;
			z-index: -1;
			border-radius: vw(30);
			content: "";
		}
		&::after {
			position: absolute;
			top: vw(1);
			width: 100%;
			height: vw(500);
			background-color: $lightBlue;
			z-index: 1;
			content: "";
			-webkit-animation: Timer 5s infinite ease-in-out;
			animation: Timer 5s infinite ease-in-out;
			border-radius: vw(30);
		}
	}
}

@-webkit-keyframes Timer {
	from {
		height: 0;
	}
	to {
		height: vw(500);
	}
}

@keyframes Timer {
	from {
		height: 0;
	}
	to {
		height: vw(500);
	}
}
