.auth-btns {
	display: flex;
	svg {
		width: vw(30);
		@include mobile {
			width: vmin(30);
		}
	}
	&__log-in,
	&__sign-up {
		font-weight: 700;
		margin-left: vw(50);
		img {
			margin-right: vw(10);
		}
		span {
			margin-left: vw(13);
		}
	}
	@include mobile {
		display: none;
	}
}
