@import './logo';
@import './nav';
@import './auth-btns';

.header {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	padding: vw(22) 0;
	&__row {
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (max-width:1024px) {
	.header {
		padding: vmin(22) 0;
	}
}