.nav {
	&__menu {
		align-items: center;
	}
	&__items {
		margin-left: vw(63);
	}
	&__links {
		padding: 0 0 vw(3);
		color: $darkBlue;
		font-family: $segoeUI;
		font-weight: 600;
		font-size: vw(20);
		z-index: 1;
		&.active {
			position: relative;
		}
	}
}

@-webkit-keyframes Fading {
	from {
		opacity: 0;
		background-color: $darkBlue;
		bottom: 0%;
	}
	to {
		opacity: 1;
		background-color: $white;
	}
}

@keyframes Fading {
	from {
		opacity: 0;
		background-color: $darkBlue;
		bottom: 0%;
	}
	to {
		opacity: 1;
		background-color: $white;
	}
}
