.nav {
	&__menu {
		align-items: center;
	}
	&__items {
		margin-left: vw(63);
	}
	&__links {
		padding: 0 0 vw(3);
		color: $darkBlue;
		font-family: $segoeUI;
		font-weight: 600;
		font-size: vw(20);
		z-index: 1;
		&.active {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 50%;
				transform: translateX(-50%) translateY(-100%);
				width: vw(15);
				height: vw(15);
				background-color: $white;
				border-radius: 50%;
				border: vw(2.5) solid $darkBlue;
				box-sizing: border-box;
				z-index: -1;
				transition: 0.3s;
				-webkit-animation: Fading 0.3s backwards linear;
				animation: Fading 0.3s backwards linear;
			}
			&:hover {
				&::before {
					background-color: $darkBlue;
				}
			}
		}
	}
}

@-webkit-keyframes Fading {
	from {
		opacity: 0;
		background-color: $darkBlue;
		bottom: 0%;
	}
	to {
		opacity: 1;
		background-color: $white;
	}
}

@keyframes Fading {
	from {
		opacity: 0;
		background-color: $darkBlue;
		bottom: 0%;
	}
	to {
		opacity: 1;
		background-color: $white;
	}
}
