.nav {
	&__menu {
		align-items: center;
	}
	&__items {
		margin-left: vw(63);
	}
	&__links {
		padding: 0 0 vw(3);
		color: $darkBlue;
		font-family: $rubik;
		font-weight: 600;
		font-size: vw(24);
		z-index: 1;
		&.active {
			position: relative;
		}
	}
}