$black: #111;
$white: #fff;
$red: #ff564f;
$darkBlue: #000846;
$lightBlue: #35b9c6;

.red {
	color: $red;
}
.white {
	color: $white;
}
.black {
	color: $black;
}

// fonts

$robotoCondensed: "Roboto Condensed", sans-serif;
$notoSans: "Noto Sans TC", sans-serif;
$philosoph: "Philosopher", sans-serif;
