$black: #111;
$white: #fff;
$red: #ff564f;
$darkBlue: #000846;
$lightBlue: #35b9c6;
$gray: #b2abb2;

.red {
	color: $red;
}
.white {
	color: $white;
}
.black {
	color: $black;
}
.gray {
	color: $gray;
}
.light-blue {
	color: $lightBlue;
}
.hidden {
	visibility: hidden;
}
.flex-align-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
// fonts

$robotoCondensed: "Roboto Condensed", sans-serif;
$notoSans: "Noto Sans TC", sans-serif;
$philosoph: "Philosopher", sans-serif;
$poppins: "Poppins", sans-serif;
$segoeUI: "Segoe UI", sans-serif;
