@import "../../scss/index.scss";

.hero {
	height: vw(800);
	position: relative;
	z-index: 1;
	padding: vw(150) vw(85) 0;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: min(1000, 58%);
		height: vw(900);
		background: $white url("../../assets/png/bg.png") no-repeat center;
		background-size: cover;
		z-index: -1;
	}
	&__content {
		max-width: vw(660);
	}
	&__title {
		position: relative;
		color: $darkBlue;
		letter-spacing: vw(6);
		line-height: 1.3;
		font-family: $rubik;
		font-weight: 800;
		font-size: vw(72);
		span {
			letter-spacing: vw(6);
			line-height: 1.3;
			font-family: $rubik;
			font-weight: 800;
			font-size: vw(72);
		}
		&::before {
			content: "";
			position: absolute;
			left: -15%;
			bottom: -10%;
			width: vw(200);
			height: vw(4);
			background-color: $lightBlue;
		}
	}
	&__description {
		margin: vw(60) 0 vw(35);
		font-family: $rubik;
		font-size: vw(22);
		line-height: 1.5;
		font-weight: 400;
		color: $gray;
	}
	&__btn {
		margin-left: vw(35);
	}
}

.interesting {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 0;
	width: min(1000, 42%);
	height: vw(800);
	padding: vw(80);
	background-color: $darkBlue;

	&__title {
		margin-top: vw(80);
		font-family: $rubik;
		font-weight: 700;
		font-size: vw(28);
		color: $white;
		@include mobile {
			margin-top: vmin(20);
			font-size: vmin(24);
		}
	}

	&__description {
		margin-top: vw(18);
		font-family: $rubik;
		font-weight: 400;
		font-size: vw(22);
		line-height: 1.5;
		color: $white;
		@include mobile {
			margin-top: vmin(18);
			font-size: vmin(18);
			line-height: vmin(24);
		}
	}

	&__images-wrapper {
		display: flex;
		flex-wrap: wrap;
		@include mobile {
			order: -1;
			justify-content: center;
			margin: vmin(-7);
		}
	}

	&__images {
		margin-right: vw(25);
		width: vw(125);
		height: vw(125);
		border-radius: vw(15);
		@include mobile {
			margin: vmin(7);
			width: 45%;
			height: vmin(125);
			border-radius: vmin(15);
		}
	}

	&__btn {
		margin: vw(40) 0 vw(40);
		@include mobile {
			margin: vmin(40) 0 vmin(60);
		}
	}
	@include mobile {
		width: 100vw;
		margin-left: vmin(-52.9);
		position: unset;
		height: vmin(800);
		padding: vmin(40);
	}
}

// mobile

@media screen and (max-width: 1024px) {
	.hero {
		padding-top: vmin(100);
		height: auto;
		min-height: vmin(704);
		padding: vmin(100) vmin(30) vmin(30);
		&::before {
			width: 100%;
			height: vmin(550);
		}
		.container {
			flex-direction: column;
		}
		&__content {
			max-width: 100%;
			padding: 0 0 vmin(40);
		}
		&__title {
			font-size: vmin(28);
			line-height: 1.3;
			span {
				letter-spacing: vmin(6);
				line-height: 1.3;
				font-size: vmin(28);
			}
			&::before {
				content: "";
				position: absolute;
				left: -15%;
				bottom: -20%;
				width: vmin(100);
				height: vmin(3);
				background-color: $lightBlue;
			}
		}
		&__blockquote {
			margin-left: vmin(44);
			max-width: vmin(200);
			font-size: vmin(16);
			line-height: vmin(32);
		}
		&__bgImage {
			left: vmin(-10);
			bottom: vmin(-150);
			max-width: vmin(397);
		}
		&__description {
			margin: vmin(40) 0 vmin(35);
			font-size: vmin(16);
		}
		&__btn {
			margin-top: vmin(15);
			margin-left: 0;
		}
		&__block-img {
			position: relative;
			width: vw(800);
			height: vw(800);
		}
		&__img {
			position: absolute;
			right: 0;
			top: 0;
			width: vw(800);
			height: vw(800);
		}
		&__btns {
			flex-direction: column;
		}
	}
}
