@media screen and (max-width: 1024px) {
	.hero {
		padding-top: vmin(119);
		min-height: vmin(704);
	}
	&__title {
		max-width: 100%;
		font-size: vmin(40);
		line-height: vmin(48);
	}
	&__blockquote {
		margin-left: vmin(44);
		max-width: vmin(200);
		font-size: vmin(16);
		line-height: vmin(32);
	}
	&__bgImage {
		top: auto;
		left: vmin(-10);
		bottom: vmin(-150);
		max-width: vmin(397);
	}
}