.row {
	display: flex;
	flex-wrap: wrap;
}
.flex {
	display: flex;
}
.flex-space-between {
	display: flex;
	justify-content: space-between;
}
.col-12 {
	width: 100%;
}
.col-6 {
	width: 50%;
}
.col-5 {
	width: 41.12%;
}
.col-4 {
	width: 33.33%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16.66%;
}
.col-1 {
	width: 8.88%;
}
@media screen and (max-width:1024px) {
	.col-6 {
		width: 100%;
	}
	.col-5 {
		width: 100%;
	}
	.col-4 {
		width: 50%;
	}
	.col-3 {
		width: 33.33%;
	}
	.col-2 {
		width: 25%;
	}
	.col-1 {
		width: 16.66%;
	}
}