.btn {
	min-height: vw(60);
	font-family: $segoeUI;
	font-size: vw(16);
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: vw(15) vw(80);
	border-radius: vw(50);
	outline: none;
	border: none;
	cursor: pointer;
	@media screen and (max-width: 1024px) {
		font-size: vmin(12);
		font-weight: 600;
		display: flex;
		align-items: center;
		padding: vmin(10) vmin(30);
		border-radius: vmin(50);
		text-align: center;
	}
}
.btn-circle {
	border-radius: 50%;
	padding: vw(15);
	width: vw(60);
}
.btn-white {
	background-color: $white;
	border: vw(2) solid $white;
	color: $darkBlue;
	transition: 0.3s;
	&:hover {
		background-color: $darkBlue;
		color: $white;
		border: vw(2) solid $white;
		svg,
		svg path {
			fill: $white;
		}
	}
}
.btn-dark-blue {
	background-color: $darkBlue;
	border: vw(2) solid $darkBlue;
	transition: 0.3s;
	color: $white;
	&:hover {
		background-color: $white;
		color: $darkBlue;
		border: vw(2) solid $darkBlue;
	}
}
.btn-light-blue {
	background-color: $lightBlue;
	border: vw(2) solid $lightBlue;
	transition: 0.3s;
	color: $white;
	svg,
	svg path {
		transition: 0.3s;
	}
	&:hover {
		background-color: $white;
		color: $lightBlue;
		border: vw(2) solid $lightBlue;
		svg,
		svg path {
			fill: $lightBlue;
		}
	}
}
.btn-pink {
	display: flex;
	justify-content: center;
	background-color: $pink;
	border: vw(2) solid $pink;
	transition: 0.3s;
	color: $white;
	width: vw(250);
	white-space: nowrap;
	text-align: center;
	svg,
	svg path {
		transition: 0.3s;
	}
	&:hover {
		background-color: $darkBlue;
		color: $pink;
		border: vw(2) solid $pink;
		svg,
		svg path {
			fill: $lightBlue;
		}
	}
	@include mobile {
		width: vmin(250);
		height: vmin(40);
	}
}
.btn-buy {
	display: flex;
	align-items: center;
	float: right;
	color: $white;
	background-color: $lightBlue;
	border: none;
	outline: none;
	padding: vw(10) vw(10);
	border-radius: vw(50);
	cursor: pointer;
	&__logo {
		width: vw(20);
		height: vw(20);
		margin: 0 0 0 vw(10);
		@include mobile {
			width: vmin(20);
			height: vmin(20);
			margin: 0 0 0 vmin(10);
		}
	}
	&__text {
		font-family: $segoeUI;
		text-transform: uppercase;
		font-weight: 700;
		font-size: vw(16);
		margin: 0 vw(20);
		@include mobile {
			font-size: vmin(14);
			margin: 0 vmin(20);
		}
	}
	@include mobile {
		padding: vmin(10) vmin(10);
		border-radius: vmin(50);
	}
}
