.author {
	&__course {
		display: inline-block;
		margin-top: vw(10);
		font-family: $rubik;
		font-weight: 400;
		font-size: vw(16);
		color: $white;
		@include mobile {
			margin-top: 0;
			font-size: vmin(16);
		}
	}
	&__name {
		margin-top: vw(5);
		font-family: $rubik;
		font-weight: 600;
		font-size: vw(20);
		color: $gray;
		@include mobile {
			margin-top: vmin(5);
			font-size: vmin(20);
		}
	}
}