.courses {
	&__row {
		margin: vw(-20);
		@include mobile {
			margin: vmin(-10);
		}
	}
	&__column {
		padding: vw(20);
		@include mobile {
			width: 100% !important;
			padding: vmin(30) 0;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		z-index: 1;
		min-height: vw(245);
		padding: vw(15) vw(25);
		&::before {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			content: "";
			width: 100%;
			height: 100%;
			background-color: $darkBlue;
			opacity: 0.7;
			@include mobile {
				height: 90%;
			}
		}
		@include mobile {
			min-height: vmin(245);
			padding: vmin(15) vmin(15) vmin(40);
		}
	}
	&__img {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -2;
		width: 100%;
		max-height: 100%;
	}
	&__logo {
		position: absolute;
		right: vw(20);
		top: vw(15);
		width: vw(50);
		height: vw(50);
		border-radius: 50%;
		@include mobile {
			right: vmin(20);
			top: vmin(15);
			width: vmin(50);
			height: vmin(50);
		}
	}
	&__biography {
		color: $white;
		font-family: $poppins;
		font-size: vw(16);
		line-height: vw(21);
		letter-spacing: 0.021em;
		@include mobile {
			font-size: vmin(16);
			line-height: vmin(21);
		}
	}
	&__update {
		margin-top: vw(5);
		font-family: $poppins;
		font-size: vw(14);
		font-weight: 600;
		color: $gray;
		@include mobile {
			margin-top: vmin(5);
			font-size: vmin(14);
		}
	}
	&__author {
		margin-top: vw(5);
		margin-bottom: vw(10);
		@include mobile {
			margin-top: vmin(-10);
			margin-bottom: vmin(10);
		}
	}
	&__price {
		font-family: $poppins;
		font-weight: 500;
		font-size: vw(20);
		color: $lightBlue;
		@include mobile {
			font-size: vmin(20);
		}
	}
}
.cart {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	width: vw(38);
	height: vw(38);
	border-radius: 50%;
	padding: vw(7);
	img {
		max-width: 100%;
		@include mobile {
			width: vmin(21);
			height: vmin(17);
		}
	}
	@include mobile {
		width: vmin(38);
		height: vmin(38);
		padding: vmin(7);
	}
}
